h1 {
  text-align: center;
}

#newMessageInputs {
  width: 100%;
}

#newMessageInputs input {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

#loginButton, #logoutButton {
  width: 100%;
  margin-bottom: 10px;
}

#submitButton {
  display: block;
  margin: auto;
}

#messageList {
  margin-bottom: 0;
}

#messageList img {
  width: 200px;
}
